h1 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

h2 {
    font-weight: bold 14px sans-serif;
}

header,
section,
footer,
aside,
nav,
hgroup,
article {
    display: block;
}

body {
    text-align: center;
    background-color: white;
}

.agrupar {
    width: 960px;
    border: 1px solid black;
    background-color: gray;
    margin: 20px auto;
}

header {
    background-color: rgb(129, 219, 255);
    border: 1px solid black;
}

header h1 {
    text-align: left;
}

.menu {
    background: #cccccc;
    padding: 5px 5px;
    text-align: left;
}

.menu li {
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
}

article {
    background: rgb(138, 212, 209);
    border: 1px solid red;
    padding: 20px;
    margin-bottom: 15px;
}

article footer {
    text-align: right;
}

time {
    color: rgb(18, 136, 214);
}

.seccion {
    margin: 20px;
    width: 60%;
    float: left;
}

.columna {
    float: left;
    width: 30%;
    margin: 20px;
}

.columna blockquote {
    padding: 40px;
    border: 1px solid black;
    background: #ffffff;
    margin-bottom: 20px;
}

.pie {
    clear: both;
    padding: 20px;
    background: black;
    color: white;
}

img {
    margin: auto;
    height: 300px;
}


/* 
#ultimo {
    background-color: rgb(31, 31, 31);
    color: blanchedalmond;
}

.sinopsis {
    background-color: rgb(75, 75, 75);
}

blockquote[cite] {
    color: blue;
} */